@import 'tailwindcss';

html{
    scroll-behavior: smooth;
}

/* Valores por defecto */
:root {
    --bg-color: #fff;
    --bg-header-color: #f1f1f1;
    --bg-footer-color: #f1f1f1;
    --bg-card-color: #fcfcfc;
    --bg-hover-color: #dfdcdc;
    --border-color: #c2c2c2;
    --text-color: #1e1e1e;
    --text-muted-color: #6b7280;
    --color-info: #3b82f6;
}

/* Tema oscuro */
.dark {
    /* Background */
    --bg-color: #1e1e1e;
    --bg-header-color: #1e293b;
    --bg-footer-color: #1e293b;
    --bg-card-color: #262626;
    --bg-hover-color: #24324a;
    --border-color: #2e2e2e;
    --text-color: #e5e5e5;
    --text-muted-color: #9ca3af;
    --color-info: #3b82f6;
}